@font-face {
  font-display: swap;
  font-family: 'InterDisplay-Light';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/InterDisplay-Light.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: 'InterDisplay-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/InterDisplay-Regular.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: 'InterDisplay-Medium';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/InterDisplay-Medium.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: 'InterDisplay-SemiBold';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/InterDisplay-SemiBold.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: 'InterDisplay-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/InterDisplay-Bold.woff2) format("woff2");
}

:root {
  --text-color: #222222;
  --blue-color: #0077FF;
  --lightgrey-color: #F4F6FB;
  --background-color: #FAFAFA;
  --white-color: #FFFFFF;
  --light-color: #F0F0F0;
  --second-lightgrey-color: #BFBFBF;
  --margin-80: 80px;
}

body {
  position: relative;
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  background-color: var(--background-color);
  font-family: 'InterDisplay-Regular', sans-serif;
  font-size: 16px;
  color: var(--text-color);
  line-height: 1.4;
  font-weight: 400;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
a:focus {
  outline: none;
}
input:active,
input:focus {
  outline: none;
}
button:active,
button:focus {
  outline: none;
}
input[type="search"],
input[type="button"],
button {
  cursor: pointer;
}
button:disabled,
button[disabled] {
  background-color: #999999 !important;
}
input:disabled,
input[disabled] {
  background-color: #999999 !important;
}
a {
  text-decoration: none;
}
p {
  margin: 0 0 1em 0;
}
iframe {
  border: none;
  outline: none;
}
.hidden {
  display: none !important;
}
.overflow-hidden {
  overflow: hidden;
}
.hidden-desktop {
  display: none;
}
.clear-both {
  clear: both;
}
.full-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.blue-color {
  color: var(--blue-color);
}
.section {
  margin: 0 0 var(--margin-80) 0;
}
.page-title,
.section-title {
  margin: 0 0 40px 0;
  font-size: 42px;
  color: var(--blue-color);
  line-height: 1.1;
}
/*
.page-title {
  margin: 0 0 80px 0;
}
*/

/* Header */
.header {
  padding: 24px 0;
}
.header .flex-container {
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  width: 100%;
}
.header .logo .logo-link {
  display: block;
  width: 200px;
}
.header .logo img {
  width: 100%;
}
.header .top-menu {
  display: flex;
  justify-content: space-between;
}
.header .top-menu .menu-item {
  display: flex;
  height: 30px;
  padding: 0 16px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--light-color);
  border-radius: 15px;
  font-size: 14px;
  color: var(--second-lightgrey-color);
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  transition: border-color .3s;
}
.header .top-menu .menu-item__link {
  color: var(--text-color);
  transition: color .3s;
}
.header .top-menu .menu-item:hover {
  border-color: var(--blue-color);
}
.header .top-menu .menu-item:hover .menu-item__link {
  color: var(--blue-color);
}
.header .header-contacts {
  display: flex;
}
.header .header-contacts .header-phone {
  display: flex;
  width: 140px;
  height: 30px;
  border: 1px solid var(--light-color);
  border-radius: 15px;
  font-size: 14px;
  color: var(--blue-color);
  align-items: center;
  justify-content: center;
}
.header .header-contacts .menu-btn {
  width: 101px;
  height: 30px;
  padding: 4px 0;
  border-radius: 15px;
  background-color: var(--blue-color);
  font-family: 'InterDisplay-medium';
  font-size: 15px;
  color: var(--background-color);
  text-align: center;
  cursor: pointer;
}

/* Main section */
.main-section .main-image {
  position: relative;
  height: 620px;
  border-radius: 40px;
  overflow: hidden;
  z-index: 1;
}
.main-section .main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-section .main-title {
  position: absolute;
  left: 80px;
  bottom: 100px;
  font-size: 72px;
  color: var(--background-color);
  line-height: 1.1;
  z-index: 2;
}
.main-section .main-title .text-semibold {
  font-family: 'InterDisplay-SemiBold';
}

/* button prev next */
.prev-next {
  position: relative;
  height: 50px;
}
.prev-next .button-prev,
.prev-next .button-next {
  position: relative;
  width: 48px;
  height: 48px;
  background-color: #fff;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  cursor: pointer;
}
.prev-next .button-prev .arrow-left,
.prev-next .button-next .arrow-right {
  position: absolute;
  top: 22px;
  right: 14px;
  width: 20px;
  height: 2px;
  background-color: var(--text-color);
}
.prev-next .button-prev .arrow-left::before,
.prev-next .button-prev .arrow-left::after,
.prev-next .button-next .arrow-right::before,
.prev-next .button-next .arrow-right::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: var(--text-color);
}
.prev-next .button-prev .arrow-left::before {
  top: -3px;
  left: -1px;
  transform: rotate(-45deg);
}
.prev-next .button-prev .arrow-left::after {
  top: 3px;
  left: -1px;
  transform: rotate(45deg);
}
.prev-next .button-next .arrow-right::before {
  top: -3px;
  right: -1px;
  transform: rotate(45deg);
}
.prev-next .button-next .arrow-right::after {
  top: 3px;
  right: -1px;
  transform: rotate(-45deg);
}


/* Projects section */
.projects-section .grid-container {
  display: grid;
  margin: 0 0 40px 0;
  gap: 40px;
  grid-template-columns: repeat(3, 1fr);
}
.projects-section .projects-item {
  /*position: relative;*/
  overflow: hidden;
}
.projects-section .projects-item__image-wrapper {
  position: relative;
  height: 460px;
  border-radius: 30px;
  overflow: hidden;
}
.projects-section .projects-item__image {
  height: 100%;
}
.projects-section .projects-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projects-section .projects-item__filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: background-color .3s;
}
.projects-section .projects-item:hover .projects-item__filter {
  background-color: rgba(34, 34, 34, .65);
}
.projects-section .projects-item__logo {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 50px;
  height: 50px;
}
.projects-section .projects-item__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.projects-section .projects-item__status {
  position: absolute;
  top: 80px;
  left: 30px;
  width: max-content;
  height: 26px;
  margin: 0 0 10px 0;
  padding: 2px 10px;
  border-radius: 13px;
  background-color: #888989;
  font-size: 13px;
  color: var(--light-color);
}
.projects-section .projects-item__title {
  position: absolute;
  top: 115px;
  left: 30px;
  width: 50%;
  margin: 0 0 10px 0;
  font-size: 32px;
  line-height: 1.2;
  color: var(--light-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.projects-section .horizontal-line {
  position: absolute;
  left: 30px;
  width: 50%;
  height: 1px;
  background-color: var(--second-lightgrey-color);
}
.projects-section .horizontal-line-top {
  top: 160px;
}
.projects-section .projects-item__location {
  position: absolute;
  top: 176px;
  left: 30px;
  color: #B7B7B7;
}
.projects-section .projects-item__city {
  position: absolute;
  top: 197px;
  left: 30px;
  font-size: 18px;
  color: var(--light-color);
}
.projects-section .horizontal-line-bottom {
  top: 235px;
}
.projects-section .projects-item__price-text {
  position: absolute;
  top: 251px;
  left: 30px;
  font-size: 16px;
  color: #B7B7B7;
}
.projects-section .projects-item__price {
  position: absolute;
  top: 272px;
  left: 30px;
  font-size: 18px;
  color: var(--light-color);
}
.projects-section .flex-container {
  position: absolute;
  left: 30px;
  bottom: 30px;
  display: flex;
}
.projects-section .projects-item__btn {
  display: flex;
  width: 190px;
  height: 46px;
  border-radius: 23px;
  background-color: var(--background-color);
  font-size: 15px;
  color: var(--text-color);
  align-items: center;
  justify-content: center;
}
.projects-section .projects-title {
  margin: 30px 0 10px 0;
  font-size: 32px;
  line-height: 1.1;
}
.projects-section .projects-city {
  font-size: 18px;
  color: var(--second-lightgrey-color);
}
.projects-section .flex-container,
.projects-section .projects-item__logo,
.projects-section .projects-item__status,
.projects-section .projects-item__title,
.projects-section .horizontal-line,
.projects-section .projects-item__location,
.projects-section .projects-item__city,
.projects-section .projects-item__price-text,
.projects-section .projects-item__price {
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  transition: opacity .4s, visibility .4s;
}
.projects-section .projects-item:hover .flex-container,
.projects-section .projects-item:hover .projects-item__logo,
.projects-section .projects-item:hover .projects-item__status,
.projects-section .projects-item:hover .projects-item__title,
.projects-section .projects-item:hover .horizontal-line,
.projects-section .projects-item:hover .projects-item__location,
.projects-section .projects-item:hover .projects-item__city,
.projects-section .projects-item:hover .projects-item__price-text,
.projects-section .projects-item:hover .projects-item__price {
  opacity: 1;
  visibility: visible;
}
.projects-section .view-all-btn {
  display: flex;
  width: 203px;
  height: 56px;
  margin: 0 auto;
  border-radius: 28px;
  background-color: var(--light-color);
  gap: 10px;
  align-items: center;
  justify-content: center;
  transition: color .3s;
}
.projects-section .view-all-btn:hover {
  color: var(--blue-color);
}
.projects-section .view-all-btn__text {
  font-family: 'InterDisplay-medium';
  font-size: 18px;
  color: var(--text-color);
}
.projects-section .view-all-btn__image {
  width: 20px;
}


/* Секция Новости главная и страница Новости */
.news-section {
  padding: 50px 0;
}
.news-section .title-wrapper {
  display: flex;
  margin: 0 0 40px 0;
  align-items: center;
  justify-content: space-between;
}
.news-section .news-slider-wrapper {
  margin-left: calc(50% - 1524px / 2);
}
.news-section .news-slider {
  margin: 0 0 40px 0;
}
.news-section .news-section-title {
  margin-bottom: 0;
}
.news-section .news-slider .news-item {
  width: 21%;
}
.news-section .news-item {
  position: relative;
}
.news-section .news-item__image {
  height: 200px;
  margin: 0 0 20px 0;
  border-radius: 20px;
  overflow: hidden;
}
.news-section .news-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news-section .news-item__title {
  display: -webkit-box;
  height: 40px;
  margin: 0 0 40px 0;
  font-size: 20px;
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.news-section .flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news-section .button-next {
  position: relative;
  width: 42px;
  height: 42px;
  border: 2px solid var(--text-color);
  border-radius: 50%;
  cursor: pointer;
}
.news-section .arrow-right {
  position: absolute;
  top: 18px;
  right: 10px;
  width: 20px;
  height: 2px;
  background-color: var(--text-color);
}
.news-section .arrow-right::before,
.news-section .arrow-right::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: var(--text-color);
}
.news-section .arrow-right::before {
  top: -3px;
  right: -1px;
  transform: rotate(45deg);
}
.news-section .arrow-right::after {
  top: 3px;
  right: -1px;
  transform: rotate(-45deg);
}
.news-section .swiper-nav {
  display: flex;
  width: 80px;
  height: 40px;
}
.news-section .swiper-nav .swiper-prev,
.news-section .swiper-nav .swiper-next {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: grey;
  cursor: pointer;
}
.news-section .swiper-nav .swiper-prev {
  border-radius: 10px 0 0 10px;
}
.news-section .swiper-nav .swiper-next {
  border-radius: 0 10px 10px 0;
}
.news-section .swiper-nav .swiper-prev span,
.news-section .swiper-nav .swiper-next span {
  position: absolute;
  top: 19px;
  left: 12px;
  width: 15px;
  height: 2px;
  background-color: var(--text-color);
}
.news-section .swiper-nav .swiper-prev::before,
.news-section .swiper-nav .swiper-prev::after {
  content: '';
  position: absolute;
  left: 12px;
  width: 7px;
  height: 2px;
  background-color: var(--text-color);
}
.news-section .swiper-nav .swiper-prev::before {
  top: 21px;
  transform: rotate(45deg);
}
.news-section .swiper-nav .swiper-prev::after {
  top: 17px;
  transform: rotate(-45deg);
}
.news-section .swiper-nav .swiper-next::before,
.news-section .swiper-nav .swiper-next::after {
  content: '';
  position: absolute;
  right: 12px;
  width: 7px;
  height: 2px;
  background-color: var(--text-color);
}
.news-section .swiper-nav .swiper-next::before {
  top: 17px;
  transform: rotate(45deg);
}
.news-section .swiper-nav .swiper-next::after {
  top: 21px;
  transform: rotate(-45deg);
}
.news-section .view-all-news-btn {
  display: flex;
  width: 270px;
  height: 60px;
  margin-left: auto;
  gap: 10px;
  border: 1px solid var(--blue-color);
  border-radius: 30px;
  align-items: center;
  justify-content: center;
}
.news-section .view-all-news-btn .view-all-news-btn__text {
  font-size: 18px;
  color: var(--blue-color);
}
.news-section .view-all-news-btn .view-all-news-btn__image {
  width: 20px;
}

/* Секция Новости на главной */
.home-page .news-section {
  background-color: var(--lightgrey-color);
}




/* Footer */
.footer {
  margin: 40px 0 0 0;
  padding: 40px 0;
}
.footer .flex-container {
  display: grid;
  margin: 0 0 80px 0;
  gap: 30px;
  grid-template-columns: 400px repeat(3, 1fr) 400px;
}
.footer .logo-wrapper .logo {
  width: 200px;
}
.footer .logo-wrapper .logo img {
  width: 100%;
}
.footer .logo-wrapper .footer-decription {
  margin: 0 0 40px 0;
  font-size: 14px;
  color: grey;
  line-height: 1.3;
}
.footer .logo-wrapper .required-link {
  display: block;
  width: max-content;
  margin: 0 0 5px 0;
  color: var(--text-color);
}
.footer .bottom-menu .menu-title {
  margin: 0 0 10px 0;
  font-size: 20px;
}
.footer .bottom-menu .menu-item {
  display: block;
  margin: 0 0 8px 0;
  color: grey;
  line-height: 1.2;
}
.footer .socials {
  display: flex;
  justify-content: flex-end;
}
.footer .socials .socials-item {
  display: flex;
  height: 35px;
  padding: 0 20px;
  border: 1px solid var(--blue-color);
  border-radius: 15px;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}
.footer .socials .socials-item img {
  height: 20px;
}
.footer .contacts {
  text-align: right;
}
.footer .contacts .footer-phone {
  margin: 0 0 10px 0;
  font-size: 20px;
  color: var(--blue-color);
}
.footer .contacts .email {
  margin: 0 0 0 10px;
  color: var(--blue-color);
}
.footer .footer-bottom {
  display: flex;
  justify-content: space-between;
}
.footer .footer-bottom .author a {
  color: var(--text-color);
}

/* Карточка проекта */
.projects-detail-page .title-section {
  margin: 0 0 40px 0;
}
.projects-detail-page .title-section .flex-container {
  display: flex;
  padding: 0 0 16px 0;
}
.projects-detail-page .title-section .projects-detail-title {
  font-family: 'InterDisplay-SemiBold';
  font-size: 48px;
  color: #42307D;
  line-height: 1.1;
}
.projects-detail-page .title-section .horizontal-line {
  width: 100%;
  height: 1px;
  background-color: #CCCCCC;
}
.projects-detail-page .image-section .image {
  height: 637px;
  border-radius: 15px;
  overflow: hidden;
}
.projects-detail-page .image-section .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projects-detail-page .image-section .details {
  width: 440px;
  padding: 30px;
  border-radius: 15px;
  background-color: #F9F9F9;
}
.projects-detail-page .image-section .details-row {
  display: flex;
  height: 36px;
  margin: 0 0 8px 0;
  padding: 10px 12px;
  border-radius: 18px;
  background-color: #F5F5F5;
  align-items: center;
  justify-content: space-between;
}
.projects-detail-page .image-section .details-row:last-child {
  margin-bottom: 0;
}

/* Вкладки */
.projects-detail-page .flat-section .tabs {
  display: flex;
}
.projects-detail-page .flat-section .tab {
  width: 100%;
  padding: 10px;
  border: 1px solid red;
  text-align: center;
  cursor: pointer;
}
.projects-detail-page .flat-section .tab.active {
  font-weight: bold;
}
.projects-detail-page .flat-section .tab-content {
  display: none;
}
.projects-detail-page .flat-section .tab-content.active {
  display: block;
}
/* /вкладки */

.projects-detail-page .location-section .grid-container {
  display: grid;
  gap: 60px;
  grid-template-columns: repeat(2, 1fr);
}
.projects-detail-page .location-section .location-item {
  display: flex;
  margin: 0 0 20px 0;
  gap: 10px;
  justify-content: space-between;
}
.projects-detail-page .location-section .location-item:last-child {
  margin-bottom: 0;
}
.projects-detail-page .location-section .location-item__title {
  margin: 0 0 10px 0;
  font-size: 20px;
  line-height: 1.2;
}
.projects-detail-page .location-section .location-item__text {
  color: darkgrey;
  line-height: 1.2;
}
.projects-detail-page .location-section .location-item__image {
  width: 280px;
  height: 160px;
  border-radius: 20px;
  overflow: hidden;
}
.projects-detail-page .location-section .location-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projects-detail-page .location-section .map {
  border-radius: 20px;
  overflow: hidden;
}
.projects-detail-page .location-section .location-map {
  display: flex;
  height: 700px;
  flex-direction: column;
}
.projects-detail-page .location-section .map-text {
  margin: 0 0 20px 0;
}
.projects-detail-page .advantages-section .grid-container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.projects-detail-page .advantages-section .advantages-item {
  height: 550px;
  border-radius: 15px;
}
.projects-detail-page .working-progress-section .grid-container {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.projects-detail-page .map-section .map {
  height: 500px;
}


/* Страница Новости */
.news-page .n-main-section .frame {
  padding: 60px;
  border-radius: 40px;
  background-color: var(--blue-color);
}
.flex-container {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}
.news-page .n-main-section .n-main-section__title {
  margin: 0 0 24px 0;
  font-family: 'InterDisplay-SemiBold';
  font-size: 68px;
  color: var(--background-color);
  line-height: 1.1;
}
.news-page .n-main-section .n-main-section__excerpt {
  font-family: 'InterDisplay-Medium';
  font-size: 24px;
  color: var(--background-color);
  line-height: 1.2;
}
.news-page .n-main-section .detail-btn {
  display: flex;
  width: 236px;
  height: 60px;
  border-radius: 30px;
  background-color: var(--lightgrey-color);
  font-size: 18px;
  color: var(--blue-color);
  align-items: center;
  justify-content: center;
}
.news-page .n-main-section .n-main-section__image {
  width: 464px;
  height: 260px;
  border-radius: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.news-page .n-main-section .n-main-section__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news-page .news-section .grid-container {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, 1fr);
}


/* Карточка новости */
.news-detail-page .news-detail__date {
  width: max-content;
  height: 26px;
  margin: 0 0 40px 0;
  padding: 3px 12px;
  border-radius: 13px;
  background-color: var(--lightgrey-color);
  font-size: 14px;
  color: var(--second-lightgrey-color);
}
.news-detail-page .news-detail__excerpt {
  margin: 0 0 40px 0;
  font-size: 32px;
  color: var(--text-color);
  line-height: 1.2;
}
.news-detail-page .news-detail__text {
  margin: 0 0 40px 0;
  font-size: 18px;
  line-height: 1.2;
}
.news-detail-page .news-detail__buttons {
  display: flex;
}
.news-detail-page .news-detail__btn {
  display: flex;
  height: 60px;
  border: 1px solid var(--blue-color);
  border-radius: 30px;
  font-size: 18px;
  align-items: center;
  justify-content: center;
}
.news-detail-page .view-more-btn {
  width: 235px;
  color: var(--blue-color);
}
.news-detail-page .make-an-appointment-btn {
  width: 246px;
  background-color: var(--blue-color);
  color: var(--background-color);
}
.news-detail-page  .news-section {
  background-color: var(--lightgrey-color);
}

/* Страница Проекты */
.projects-page .flex-container {
  display: flex;
  justify-content: space-between;
}
.projects-page .view-on-map-btn {
  display: flex;
  width: 242px;
  height: 60px;
  border-radius: 30px;
  background-color: var(--blue-color);
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.projects-page .view-on-map-btn__text {
  font-size: 18px;
  color: var(--background-color);
}
.projects-page .view-on-map-btn__image {
  width: 20px;
}


/* agreement text галочка соглашения */
.agreement-text {
  display: flex;
  margin: 5px 0;
  line-height: 1.6;
  align-items: center;
}
.agreement-text a {
  color: var(--text-color);
}
.agreement-text .custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.agreement-text .custom-checkbox+label::before {
  content: '';
  display: block;
  width: 28px;
  height: 28px;
  margin: 3px 10px 3px 0;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70% 50%;
  background-color: #fff;
}
.agreement-text .custom-checkbox:checked+label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='18' height='13' fill='none'><path stroke='%231B4B23' stroke-linecap='round' stroke-linejoin='round' d='m1.438 7.375 4.812 4.813 11-11'/%3e%3c/svg%3e");
}
.agreement-text .custom-checkbox-label {
  display: block;
}
.agreement-text .checkbox-text {
  font-family: 'InterDisplay-Regular';
}


/* breadscrumbs */
.breadcrumbs {
  margin: 40px 0 16px 0;
  font-size: 13px;
}
.breadcrumbs .parent,
.breadcrumbs .separator,
.breadcrumbs .active {
  display: inline-block;
  text-transform: lowercase;
}
.breadcrumbs .parent,
.breadcrumbs .active {
  width: max-content;
  padding: 2px 12px;
  border-radius: 14px;
  background-color: var(--lightgrey-color);
}
.breadcrumbs .separator {
  margin: 0 2px;
  color: var(--lightgrey-color);
}
.breadcrumbs .parent:hover a,
.breadcrumbs .active {
  color: var(--blue-color);
  transition: color .3s;
}
.breadcrumbs .parent a {
  color: #BFBFBF;
}
.breadcrumbs .parent a,
.breadcrumbs .active {
  font-size: 13px;
  text-transform: lowercase;
}


/* modal */
.modal-window {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  top: 0;
  left: 0;
  z-index: 10004;
}
.modal-window.active {
  display: block;
}
.modal-window .modal-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 5%;
  padding: 0 12px;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}
.modal-window .modal-wrapper.active {
  opacity: 1;
  visibility: visible;
}
.modal-window .modal-area {
  position: relative;
  max-width: 1540px;
  margin: 0 auto;
  padding: 60px;
  border-radius: 40px;
  background-color: #fff;
  overflow: hidden;
}
.modal-window .modal-close {
  position: absolute;
  top: 65px;
  right: 60px;
  cursor: pointer;
}
.modal-window .close {
  position: relative;
  width: 34px;
  height: 34px;
  border: 2px solid var(--text-color);
  border-radius: 17px;
}
.modal-window .close::before,
.modal-window .close:after { 
  content: "";
  position: absolute;
  top: 5px;
  left: 14px;
  width: 2px;
  height: 20px;
  border-radius: 2px;
  background-color: var(--text-color);
  transition: background-color .3s;
}
.modal-window .close::before {
  transform: rotate(45deg);
}
.modal-window .close:after {
  transform: rotate(-45deg);
}
.modal-window .modal-title {
  margin: 0 0 50px 0;
  font-size: 42px;
  color: var(--blue-color);
  line-height: 1.1;
}
.modal-window .flex-container {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}
.modal-window .modal-image {
  width: 30%;
  border-radius: 20px;
  overflow: hidden;
}
.modal-window .modal-image img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.modal-window .modal-text {
  width: 70%;
}

/* we use cookie */
.we-use-cookie {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 35px;
  display: none;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 12px;
  z-index: 15;
}
.we-use-cookie.active {
  display: block;
}
.we-use-cookie .we-use-cookie-wrapper {
  display: flex;
  padding: 28px;
  border-radius: 10px;
  background-color: #484848;
  align-items: center;
}
.we-use-cookie .we-use-cookie-text {
  padding: 0 10px 0 0;
  font-size: 14px;
  color: #E8E8E8;
}
.we-use-cookie .we-use-cookie-text a {
  color: #E8E8E8;
  text-decoration: underline;
}
.we-use-cookie .we-use-cookie-close {
  display: block;
  width: 70px;
  height: 40px;
  padding: 0;
  border: 1px solid #E8E8E8;
  border-radius: 25px;
  background-color: #484848;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  color: #E8E8E8;
  flex-shrink: 0;
  cursor: pointer;
}

/* burger menu */
.burger-menu-wrapper {
  position: fixed;
  top: 33px;
  right: 12px;
  display: none;
  width: 46px;
  height: 46px;
  padding: 7px 5px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  z-index: 12;
  transition: background-color .5s;
}
.burger-menu-wrapper .burger-menu {
  position: relative;
  height: 100%;
}
.burger-menu-wrapper .burger-menu::before,
.burger-menu-wrapper .burger-menu::after,
.burger-menu-wrapper .span {
  content: "";
  position: absolute;
  display: block;
  width: 24px;
  height: 2px;
  border-radius: 3px;
  background-color: var(--blue-color);
  transition: all .5s;
}
.burger-menu-wrapper .burger-menu::before {
  left: 0;
  top: 6px;
}
.burger-menu-wrapper .span {
  left: 10px;
  top: 15px;
}
.burger-menu-wrapper .burger-menu::after {
  left: 0;
  top: 24px;
}
.burger-menu-wrapper.menu-is-open {
  background-color: #fff;
}
.burger-menu-wrapper.menu-is-open .burger-menu::before,
.burger-menu-wrapper.menu-is-open .burger-menu::after {
  top: 15px;
}
.burger-menu-wrapper.menu-is-open .burger-menu::before {
  transform: rotate(-45deg);
}
.burger-menu-wrapper.menu-is-open .burger-menu::after {
  transform: rotate(45deg);
}
.burger-menu-wrapper.menu-is-open .burger-menu span {
  display: none;
}

/* mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 20px 0 30px 0;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  z-index: 11;
  transition: opacity .5s, visibility .5s;
}
.mobile-menu.active {
  opacity: 1;
  visibility: visible;
}
.mobile-menu .logo {
  display: block;
  width: 200px;
}
.mobile-menu .logo img {
  width: 100%;
}
.mobile-menu .search-form {
  margin-bottom: 30px;
}
.mobile-menu .menu {
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
}
.mobile-menu .menu-item {
  display: block;
  padding: 5px 0;
}
.mobile-menu .menu-item a {
  font-size: 18px;
  color: var(--text-color);
  text-decoration: none;
}
.mobile-menu .socials {
  display: flex;
  margin: 0 0 20px 0;
  gap: 10px;
}
.mobile-menu .socials .socials-item {
  display: flex;
  width: 58px;
  height: 35px;
  border: 1px solid var(--blue-color);
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.mobile-menu .socials .socials-item img {
  height: 15px;
}
.mobile-menu .address-wrapper {
  font-family: 'InterDisplay-SemiBold';
  font-size: 18px;
}

/* fixed bottom menu */
.fixed-bottom-menu {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  width: 100%;
  height: 90px;
  padding: 15px 10px;
  border-radius: 20px 20px 0 0;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(54, 54, 54, 0.20);
  z-index: 10;
}
.fixed-bottom-menu .menu-wrapper {
  display: flex;
  justify-content: space-between;
}
.fixed-bottom-menu .menu-item {
  position: relative;
  width: 54px;
  text-align: center;
}
.fixed-bottom-menu .menu-item .menu-item__image {
  margin-bottom: 5px;
}
.fixed-bottom-menu .menu-item img {
  height: 28px;
}
.fixed-bottom-menu .cart-menu-item .menu-item__image {
  position: relative;
  width: 54px;
  height: 54px;
  border-radius: 27px;
  background-color: #000;
}
.fixed-bottom-menu .cart-menu-item .menu-item__image img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 18px;
  height: 18px;
}
.fixed-bottom-menu .menu-item .menu-item__title {
  font-size: 12px;
}
.fixed-bottom-menu .menu-item .badge-counter {
  position: absolute;
  width: max-content;
  height: 20px;
  padding: 3px 5px;
  border-radius: 10px;
  background-color: #000;
  font-size: 13px;
  color: #fff;
  line-height: 1;
}
.fixed-bottom-menu .cart-menu-item .badge-counter {
  top: 15px;
  right: -10px;
}
.fixed-bottom-menu .favourite-menu-item .badge-counter {
  top: -5px;
  right: 5px;
}


/* photoswipe */
.pswp img {
  object-fit: contain;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 12px;
  padding-left: 12px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1548px;
  }
}

@media only screen and (max-width : 1600px) {

  .news-section .news-slider-wrapper {
    margin-left: calc(50% - 1296px / 2);
  }
}

@media only screen and (max-width : 1400px) {
  .news-section .news-slider-wrapper {
    margin-left: calc(50% - 1116px / 2);
  }
}

@media only screen and (max-width : 1200px) {
  .news-section .news-slider-wrapper {
    margin-left: calc(50% - 936px / 2);
  }
}

@media only screen and (max-width : 992px) {
  .news-section .news-slider-wrapper {
    margin-left: calc(50% - 696px / 2);
  }
}

@media only screen and (max-width : 768px) {
  .hidden-mobile {
    display: none !important;
  }

  .hidden-desktop {
    display: block;
  }

  .page-title,
  .section-title {
    font-size: 40px;
  }

  




  .burger-menu-wrapper {
    display: block;
  }

}

@media only screen and (max-width : 576px) {

  .page-title,
  .section-title {
    font-size: 36px;
  }


}

@media only screen and (max-width : 480px) {


  .page-title,
  .section-title {
    font-size: 30px;
    line-height: 1;
  }

}

@media only screen and (max-width : 360px) {

  .page-title,
  .section-title {
    font-size: 28px;
  }

}