@font-face {
  font-display: swap;
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Light.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: 'Roboto-Medium';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Medium.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: 'Roboto-SemiBold';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-SemiBold.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Bold.woff2) format("woff2");
}

:root {
  --text-color: #19212E;
  --blue-color: #224D8F;
  --white-color: #fff;
  --lightgrey-color: #E9EEF4;
  --placeholder-color: #B3B3B3;
  --margin-120: 120px;
}

body {
  position: relative;
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 16px;
  color: var(--text-color);
  line-height: 1.4;
  font-weight: 400;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
a:focus {
  outline: none;
}
input:active,
input:focus {
  outline: none;
}
button:active,
button:focus {
  outline: none;
}
input[type="search"],
input[type="button"],
button {
  cursor: pointer;
}
button:disabled,
button[disabled] {
  background-color: #999999 !important;
}
input:disabled,
input[disabled] {
  background-color: #999999 !important;
}
a {
  text-decoration: none;
}
p {
  margin: 0 0 1em 0;
}
iframe {
  border: none;
  outline: none;
}
.hidden {
  display: none !important;
}
.overflow-hidden {
  overflow: hidden;
}
.hidden-desktop {
  display: none;
}
.clear-both {
  clear: both;
}
.full-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.blue-color {
  color: var(--blue-color);
}
.section {
  margin: 0 0 var(--margin-120) 0;
}
.page-title,
.section-title {
  margin: 0 0 40px 0;
  font-family: 'Roboto-SemiBold';
  font-size: 64px;
  line-height: 1.1;
}
.page-title {
  margin: 0 0 80px 0;
}

/* Header */
.header {
  padding: 26px 0 30px 0;
}



/* agreement text галочка соглашения */
.agreement-text {
  display: flex;
  margin: 5px 0;
  line-height: 1.6;
  align-items: center;
}
.agreement-text a {
  color: var(--text-color);
}
.agreement-text .custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.agreement-text .custom-checkbox+label::before {
  content: '';
  display: block;
  width: 28px;
  height: 28px;
  margin: 3px 10px 3px 0;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70% 50%;
  background-color: #fff;
}
.agreement-text .custom-checkbox:checked+label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='18' height='13' fill='none'><path stroke='%231B4B23' stroke-linecap='round' stroke-linejoin='round' d='m1.438 7.375 4.812 4.813 11-11'/%3e%3c/svg%3e");
}
.agreement-text .custom-checkbox-label {
  display: block;
}
.agreement-text .checkbox-text {
  font-family: 'Roboto-Regular';
}


/* breadscrumbs */
.breadcrumbs {
  margin: 30px 0;
  font-size: 18px;
}
.breadcrumbs .parent,
.breadcrumbs .separator,
.breadcrumbs .active {
  display: inline-block;
}
.breadcrumbs .separator {
  margin: 0 2px;
}
.breadcrumbs .active {
  color: var(--blue-color);
}
.breadcrumbs .parent a {
  color: #B4B4B4;
}

/* modal */
.modal-window {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  top: 0;
  left: 0;
  z-index: 10004;
}
.modal-window.active {
  display: block;
}
.modal-window .modal-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 5%;
  padding: 0 12px;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}
.modal-window .modal-wrapper.active {
  opacity: 1;
  visibility: visible;
}
.modal-window .modal-area {
  position: relative;
  max-width: 440px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}
.modal-window .modal-close {
  position: absolute;
  top: 35px;
  right: 28px;
  cursor: pointer;
}
.modal-window .close {
  position: relative;
  width: 21px;
  height: 21px;
  border-radius: 3px;
}
.modal-window .close::before,
.modal-window .close:after { 
  content: "";
  position: absolute;
  top: 0;
  left: 9px;
  width: 2px;
  height: 20px;
  border-radius: 2px;
  background-color: #A9A9A9;
  transition: background-color .3s;
}
.modal-window .close::before {
  transform: rotate(45deg);
}
.modal-window .close:after {
  transform: rotate(-45deg);
}
.modal-window .modal-title {
  margin: 0 0 20px 0;
  font-family: 'Roboto-medium';
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
}
.modal-window .label {
  display: block;
  margin-bottom: 5px;
}
.modal-window .input-field {
  display: block;
  width: 100%;
  height: 50px;
  margin: 0 0 10px 0;
  padding: 15px 20px;
  border: 1px solid #000;
  border-radius: 25px;
  font-family: inherit;
}
.modal-window .required {
  border-bottom: 1px solid #FF7272;
}
.modal-window .checkbox-text {
  display: block;
  font-size: 14px;
  line-height: 1.4;
}
.modal-window .privacy-policy-btn {
  color: #3E3E3E;
  text-decoration: underline;
}
.modal-window .submit-btn {
  display: block;
  width: 100%;
  height: 56px;
  margin: 30px 0 0 0;
  padding: 0;
  border: none;  
  border-radius: 28px;
  background-color: #000;
  font-family: 'Roboto-medium';
  font-size: 20px;
  color: #000;
}

/* we use cookie */
.we-use-cookie {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 35px;
  display: none;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 12px;
  z-index: 15;
}
.we-use-cookie.active {
  display: block;
}
.we-use-cookie .we-use-cookie-wrapper {
  display: flex;
  padding: 28px;
  border-radius: 10px;
  background-color: #484848;
  align-items: center;
}
.we-use-cookie .we-use-cookie-text {
  padding: 0 10px 0 0;
  font-size: 14px;
  color: #E8E8E8;
}
.we-use-cookie .we-use-cookie-text a {
  color: #E8E8E8;
  text-decoration: underline;
}
.we-use-cookie .we-use-cookie-close {
  display: block;
  width: 70px;
  height: 40px;
  padding: 0;
  border: 1px solid #E8E8E8;
  border-radius: 25px;
  background-color: #484848;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  color: #E8E8E8;
  flex-shrink: 0;
  cursor: pointer;
}

/* burger menu */
.burger-menu-wrapper {
  position: fixed;
  top: 33px;
  right: 12px;
  display: none;
  width: 46px;
  height: 46px;
  padding: 7px 5px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  z-index: 12;
  transition: background-color .5s;
}
.burger-menu-wrapper .burger-menu {
  position: relative;
  height: 100%;
}
.burger-menu-wrapper .burger-menu::before,
.burger-menu-wrapper .burger-menu::after,
.burger-menu-wrapper .span {
  content: "";
  position: absolute;
  display: block;
  width: 24px;
  height: 2px;
  border-radius: 3px;
  background-color: var(--blue-color);
  transition: all .5s;
}
.burger-menu-wrapper .burger-menu::before {
  left: 0;
  top: 6px;
}
.burger-menu-wrapper .span {
  left: 10px;
  top: 15px;
}
.burger-menu-wrapper .burger-menu::after {
  left: 0;
  top: 24px;
}
.burger-menu-wrapper.menu-is-open {
  background-color: #fff;
}
.burger-menu-wrapper.menu-is-open .burger-menu::before,
.burger-menu-wrapper.menu-is-open .burger-menu::after {
  top: 15px;
}
.burger-menu-wrapper.menu-is-open .burger-menu::before {
  transform: rotate(-45deg);
}
.burger-menu-wrapper.menu-is-open .burger-menu::after {
  transform: rotate(45deg);
}
.burger-menu-wrapper.menu-is-open .burger-menu span {
  display: none;
}

/* mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  padding: 20px 0 30px 0;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  z-index: 11;
  transition: opacity .5s, visibility .5s;
}
.mobile-menu.active {
  opacity: 1;
  visibility: visible;
}
.mobile-menu .logo {
  display: block;
}
.mobile-menu .logo img {
  width: 100%;
}
.mobile-menu .search-form {
  margin-bottom: 30px;
}
.mobile-menu .menu {
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
}
.mobile-menu .menu-item {
  display: block;
  padding: 5px 0;
}
.mobile-menu .menu-item a {
  font-size: 18px;
  color: var(--text-color);
  text-decoration: none;
}
.mobile-menu .socials {
  display: flex;
  margin: 0 0 20px 0;
  gap: 10px;
}
.mobile-menu .socials .socials-item {
  display: flex;
  width: 58px;
  height: 35px;
  border: 1px solid var(--blue-color);
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.mobile-menu .socials .socials-item img {
  height: 15px;
}
.mobile-menu .address-wrapper {
  font-family: 'Roboto-SemiBold';
  font-size: 18px;
}

/* fixed bottom menu */
.fixed-bottom-menu {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  width: 100%;
  height: 90px;
  padding: 15px 10px;
  border-radius: 20px 20px 0 0;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(54, 54, 54, 0.20);
  z-index: 10;
}
.fixed-bottom-menu .menu-wrapper {
  display: flex;
  justify-content: space-between;
}
.fixed-bottom-menu .menu-item {
  position: relative;
  width: 54px;
  text-align: center;
}
.fixed-bottom-menu .menu-item .menu-item__image {
  margin-bottom: 5px;
}
.fixed-bottom-menu .menu-item img {
  height: 28px;
}
.fixed-bottom-menu .cart-menu-item .menu-item__image {
  position: relative;
  width: 54px;
  height: 54px;
  border-radius: 27px;
  background-color: #000;
}
.fixed-bottom-menu .cart-menu-item .menu-item__image img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 18px;
  height: 18px;
}
.fixed-bottom-menu .menu-item .menu-item__title {
  font-size: 12px;
}
.fixed-bottom-menu .menu-item .badge-counter {
  position: absolute;
  width: max-content;
  height: 20px;
  padding: 3px 5px;
  border-radius: 10px;
  background-color: #000;
  font-size: 13px;
  color: #fff;
  line-height: 1;
}
.fixed-bottom-menu .cart-menu-item .badge-counter {
  top: 15px;
  right: -10px;
}
.fixed-bottom-menu .favourite-menu-item .badge-counter {
  top: -5px;
  right: 5px;
}


/* photoswipe */
.pswp img {
  object-fit: contain;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 12px;
  padding-left: 12px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/*
@media (min-width: 1600px) {
  .container {
    max-width: 1584px;
  }
}
*/

/*
@media only screen and (max-width : 1600px) {

}
*/

@media only screen and (max-width : 1400px) {

}

@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 768px) {
  .hidden-mobile {
    display: none !important;
  }

  .hidden-desktop {
    display: block;
  }

  .page-title,
  .section-title {
    font-size: 40px;
  }






  .burger-menu-wrapper {
    display: block;
  }

  .mobile-menu {
    display: block;
  }

}

@media only screen and (max-width : 576px) {

  .page-title,
  .section-title {
    font-size: 36px;
  }


}

@media only screen and (max-width : 480px) {


  .page-title,
  .section-title {
    font-size: 30px;
    line-height: 1;
  }

}

@media only screen and (max-width : 360px) {

  .page-title,
  .section-title {
    font-size: 28px;
  }

}